$backgroundColor: #607890;
$secondaryColor: #8E9E82;
$fontColor: #F2F0DF;
$secondaryFontColor:  #CACCB6;
$accentColor:  #A9C1D9;

body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: $backgroundColor;
  color: $fontColor;
}