$backgroundColor: #607890;
$secondaryColor:  #F2F0DF;
$fontColor: darken(#8E9E82, 50%);
$secondaryFontColor: #CACCB6;
$accentColor: #A9C1D9; 

$righteous: 'Righteous', cursive;

body,
h1,
h2,
h3, 
h4,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: $backgroundColor;
  background-image: url(../asset/diagmonds.png);
  color: $fontColor;
  text-align: center;
}