h1 {
  text-transform: uppercase;
  color: $accentColor;
  font-family: $righteous;
  font-size: 3rem;
}

h2,
h3,
h4 {
  margin: 10px 0;
  font-family: $righteous;
  text-transform: uppercase;
}

h3 {
  background-color: $secondaryColor;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
}

label,
input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  &:hover,
  &:focus{
    box-shadow: 0 0 3px 2px $accentColor;
  }
}

select {
  border-radius: 5px;
  width: 50%;
  margin: 10px 0;
  &:hover,
  &:focus{
    box-shadow: 0 0 3px 2px $accentColor;
  }
}

button {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: $righteous;
  background-color: $secondaryColor;
  border-radius: 5px;
  &:hover,
  &:focus {
    box-shadow: 0 0 3px 2px $accentColor;
  }
}

.fa-minus-circle {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: $righteous;
  font-family: FontAwesome !important;
  &:hover,
  &:focus{
    color: $secondaryFontColor;
  } 
}

.flexParent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  div 
    h2,
    ul {
      background-color: $secondaryColor;
      border-radius: 5px;
    }
}

.colorPop {
  color: white;
}

.colorPositive {
  color: green;
}

.colorNegative {
  color: red;
}

