
body,
h1 {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

label,
input {
  display: block;
  width: 90%;
  padding: 20px 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

button,
.delete {
  cursor: pointer;
}


